.navbar{ 
    background-color:#009688 !important;
    
}
.navbar-brand img{
    height: 20px;
    width: 100px;
}
.slidersizing{
    height: 400px;
}
/* .services .HeadingOfServices{
    text-align: center;
} */
.services {
    margin-top: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
   margin-bottom: 50px;
}
/* .coloringOfServices{
   background-color: #009688;
   height: 100px;
   margin-left: 20px;
   width: 100px;
} */
.card1{
    height: 300px;
    width: 100%;
    -webkit-box-shadow: inset 3px 3px 42px -5px rgba(0,0,0,0.75);
-moz-box-shadow: inset 3px 3px 42px -5px rgba(0,0,0,0.75);
box-shadow: inset 3px 3px 42px -5px rgba(0,0,0,0.75);
}
.card1:hover{
    height: 300px;
    width: 100%;
   
    -webkit-box-shadow: 3px 3px 42px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 42px -10px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 42px -10px rgba(0,0,0,0.75);
}

.fas{
   
     padding-left: 23px;
     padding-top: 17px;
    
    width: 50%;
    margin: 0 auto;
    

}

.icon{
    width: 20%;
    background-color: #4DB6AC;
    height: 20%;
    border-radius: 50%;
    margin: 0 auto;
}
.icon:hover{
    width: 20%;
    background-color:#009688 ;
    height: 20%;
    border-radius: 50%;
    margin: 0 auto;
}
.row{
    margin-top: 20px;
}
.paddingIN{
    margin-top: 20px;
}
.quotes{
    background-color: #009688;
    width: 100%;

}
.buttonContact{
  border-color: white;
  color: aliceblue;
  background-color: #009688;
  border-radius: 20px;
  width: 150px;
  margin-bottom: 30px;

}
.buttonContact:hover{
    border-color:white;
    background-color: white;
    color: #009688;
    border-radius: 20px;
    width: 150px;
  
  }
  .videoSizer{
      width: 70%;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
  }