.navbar{ 
    background-color:#009688 !important;
    margin-bottom: 10px;
    
}
.navbar-brand img{
    height: 20px;
    width: 100px;
}
.slidersizing{
    height: 400px;
}




/* end of nav bar */
.wholeBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        flex-direction: column;

        
        
        
        
}
.box1{
    width: auto;
    height: 300px;
    background-color: aqua;
    align-self: center;

    margin-bottom: 10px;
    border-radius: 30%;
    
    /* justify-content: space-between; */
    
}

.box2{
    width: auto;
    height: auto;
    margin-left:5% ;
    margin-right: 5%;
    margin-top:10px ;
    background-color:#009688;
    box-shadow: 10px 10px 8px 5px #817e7e;
    border-radius: 15%;
    
    /* justify-content: space-between; */
    
}
.box2:hover{
    background-color: #4DB6AC;
    color: aliceblue;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.box1 img{
    width: auto;
    height: 100%;
    border-radius: 30px;
}
.box1 img:hover{
    width: 300px;
    height: 100%;
    border-radius: 30px;
    box-shadow: 10px 10px 8px 5px #817e7e;

}

.box2 p{
   
   padding-left: 30px;
   padding-top: 5px;

}
footer{
    margin-top: 50px;
}
